body {
    font-family: Montserrat;
    background-color: #E5E5E5;
}

h1 {  
    color: #0F2940;
    text-align: center;
    font-family: Montserrat; 
    font-size: 80px; 
    font-weight: 700;
    align-items: bottom;
}

h2 {
    color:#0F2940;
    text-align: center;
    font-family: Montserrat; 
    font-size: 60px; 
    font-weight: 700;
    justify-content: center;
  }


h4 {
    color:#0F2940;
    font-family: Calibri; 
    font-size: 26px; 
    font-weight: 700;
}


.header-container {
    display: flex;    
    background-image:  url("src/img/shea-rouda-tk4qYI9Mm5A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 800px;
    width: 100 vw;
}


.header-text {

}

.body-text {
    color:black;
    font-family: Calibri; 
    font-size: 24px; 
    font-weight: 400;
}

.logo {

}

.logo-item {

}

.main-footer {
    background: #002E6D;
    position: absolute;
}
  

.footer-nav {

}

.inline-list {
    color: FFFFFF;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size:24px;
    line-height: 29px;
}