body {
    font-family: Montserrat;
    background-color: ffffff;
}

h1 {  
    color: #002E6D;
    position: absolute;
    height: 118px;
    left: 5.99%;
    right: 17.63%;
    top: calc(50% - 118px/2 - 225px);
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 110px;
    
}

h2 {
    color:#0F2940;
    text-align: center;
    font-family: Calibri; 
    font-size: 60px; 
    font-weight: 700;
    justify-content: center;
  }


h4 {
    position: relative;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}


.header-container {
    display: flex;    
    background-image:  url("src/img/shea-rouda-tk4qYI9Mm5A-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 800px;
    width: 100 vw;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    }


.header-text {
    position: absolute;
    height: 51px;
    left: 5.99%;
    right: 43.47%;
    top: calc(50% - 51px/2 - 115.5px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 51px;
    color: #002E6D;
}

.body-section {
    
    padding-left: 100px;
    padding-right: 100px;
}

.body-text {
    color:black;
    font-family: Calibri; 
    font-size: 24px; 
    font-weight: 400;
}

p {
    color:black;
    font-family: Calibri; 
    font-size: 24px; 
    font-weight: 400;
}

.laptop-mockup {
    /* position: relative;
    left: 6.25%;
    right: 73.26%;
    top: 57.82%;
    bottom: 34.76%; */
    /* width: 295px;
    height: 177.7px; */
    background-image: url('src/img/laptop-mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-container {
    align-items: center;
    justify-content: center;;
}

.logo-container ul {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.logo-item {
    flex: 1;
    display: block;
    grid-row: auto;
    width: 80px;
    height: 81px;
  
}

.logo-container .logo-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-container .resource-container {
    display: block;
    margin-left: calc(20% - 40px);
}

.main-footer {
    margin-top: 5%;
    background: #002E6D;
    position: absolute;
    left: 0;
    width: 100%;
}
  

/* .footer-nav {

} */

ul.inline-list {
    display: flex;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-bottom: 2%;
}

.main-footer .inline-list li {
    display: block;
    margin-top: auto;
    color: #FFFFFF;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size:24px;
    line-height: 29px;
    list-style-type: none;
    padding: 50px 0px 0px 20px;

}

.main-footer .inline-list a {
    color: #FFFFFF;
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size:24px;
    line-height: 29px;
    list-style-type: none;
    padding: 50px 0px 0px 20px;
}

.inline-list .footer-logo {
    flex-grow: 1;
}

#hfla-logo img {
    height: 20%;
    padding-right: 3%;
    float: right;
}